<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" >
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" ></script>
    <script src="js/angular.js" ></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
</select>


<ul class="phones">
    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
        {{phone.name}}
        <p>{{phone.snippet}}</p>
    </li>
</ul>


</body>
</html>