<!DOCTYPE html>
<html >
  <head>
    <title>Helper</title>
	<meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<link href="css/reset.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/myStyle.css" rel="stylesheet" media="screen">
	<!-- Controllers -->
	
  </head>
  <body ng-app="myApp">
	<div class="container" ng-controller="MainMenuCtrl">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 head-block" >
				<div id="mainMenuWrapper" class="btnMainArr">
					<button type="button" class="btn btn-default" ng-repeat="button in btnMainArr" ng-click="changeRulesView(button)">{{button}}</button>		
				</div>
			</div><!-- head-block -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-menu">
				<input ng-model="searchWord" class="form-control" id="searchField" placeholder="Searching">
			</div><!-- top-menu -->
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 sidebar"></div><!-- sidebar -->
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 content" >		
				<div  class="rules" >
					<div class="panel panel-default" ng-repeat="rule in rules | filter:searchWord">
						<div class="panel-heading" >{{rule.name}}</div>
						<div class="panel-body">{{rule.description}}</div>
					</div>
				</div>
			</div><!-- content -->
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 sidebar"></div><!-- sidebar -->
		</div>
	</div>
	
	<script src="js/angular.js" ></script>
	<script src="js/myController.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/script.js" ></script> 
  </body>
</html>