#A_One{
	position: absolute;
	top: 25px;
	left: 20px;
}

#A_Two{
	position: absolute;
	bottom: 25px;
	left: 25px;
}

#A_Three{
	position: absolute;
	top: 260px;
	left: 550px;
}

#D_One{
	position: absolute;
	top: 25px;
	right: 25px;
}

#D_Two{
	position: absolute;
	bottom: 25px;
	right: 25px;
}

#D_Three{
	position: absolute;
	top: 260px;
	right: 550px;
}

#MainTable{
	position:absolute; 
    left:0;
    right:0;
	margin-top: 5%;
    margin-left:auto;
    margin-right:auto;
	
	height: 600px;
	width: 1200px;
	border: solid #424c55 10px;
}

.starImgGold{
	height: 50px;
	width: 50px;
	vertical-align: top;
	display: inline-block;
}

.starInfo{
	position: absolute;
	overflow: hidden;
	display: inline-block;
	height: 0;
}

body{
	padding: 1%;
	background-image: url( ../img/Caldari3.jpg ); /*Caldari3*/
	background-repeat: no-repeat;
	background-attachment: fixed;
}

table{	
	width: 100px;
	text-align: center;
	/*border: solid black 1px; */
	background-color: grey;
	border-radius: 10px;
}

td{
	height: 20px;
	padding: 3px;
	/*border: solid black 1px; */
}
