.my-flex-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;
	
	height: 150px;
	background-color:blue;
}
/***************************************/

.my-flex-block{
	width: 50px; 
	height: 50px; 
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	background-color:white;
	border: 1px solid green;
}
/***************************************/

.my-flex-container-ONE{	
	display: flex;
	background-color:green;
	height: 150px;
	flex-direction: row;
	justify-content:space-around;
	align-items:center;
}
/***************************************/
.my-flex-container-TWO{	
	display: flex;
	background-color:gray;
	height: 150px;
	max-width: 1000px;
	margin: auto;
	flex-flow: row nowrap; /*flex-direction и flex-wrap*/	
	justify-content:flex-end;
	align-items:flex-end;
}
/***************************************/
.my-flex-container-THREE{	
	display: flex;
	background-color:blue;
	height: 150px;
	max-width: 1200px;
	margin: auto;
	flex-flow: row wrap; /*flex-direction и flex-wrap*/	
	justify-content:space-around;
	align-items:center;
}

.my-flex-block-THREE{
	width: 300px; 
	height: 50px; 
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	background-color:white;
	border: 1px solid green;
}



/***************************************/
.order-1 {
    order: 1;
	flex-grow: 2;
	margin-left: 25px;
}
.order-2 {
    order: 2;
	flex-grow: 1;
}
.order-3 {
	flex-grow: 1;
    order: 3;
	margin-right: 25px;
}