body{
	background-image: url(../img/image.jpg);
}

b{
	font-weight: Bold;
}

#mainWrapper{
	width: 950px;
	margin: auto;
	margin-top: 0.5%;
}	

#description{
	vertical-align: top;
	display: inline-block;
	background-color: #E0E0E0 ;	
	width: 600px;	
	height: 450px;
	font-size: 23px;
	color: #202020;
	margin: 20px 0 0 5px;
	border-radius: 10px;
	padding: 20px;
	overflow: auto;
}

#smallMenuWrapper{
	width: 250px;	
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#menuSmall{
	text-align: center;
	margin: 20px 0 0 0;
	width: 240px;
	padding: 5px;
	border: 1px solid black;
	background-color: #0066FF;
	border-radius: 10px;
}
/*****/

.ActionButton{
	font-size: 25px;
	width: 95%;
	border: 1px solid black;
	border-radius: 10px;
	margin: 3px 0 0 0;
	display: inline-block;
	background-color: #3399FF;
	color: white;
	text-align: left;
	
}

#menuSmall ul{
	list-style-type: none;
}

#menuSmall li span{ 
	width: 100%;
	height: 100%;
	display: inline-block;	
	border-radius: 10px;
	padding: 10px 0 10px 0;
	text-indent: 15px;
}

#menuSmall li input{
	z-index: 5;
	display: none;
}

#menuSmall li input:checked	+span{ 
	background-color: #00CCFF;
	cursor: pointer;
}

#menuSmall span:hover {
	background-color: #00CCFF;
	cursor: pointer;

}


























/*
.ActionButton:hover{
	background-color: #00CCFF;
	cursor: pointer;
	border: 1px solid white;
} 

.ActionButton:focus{
	background-color: #00CCFF;	
	outline-style: none;
} 
*/


/*
#menuSmall li{
	padding-bottom: 5px;
 }*/